## Import libraries

In [39]:
import pandas as pd

## Read the data

In [42]:
df = pd.read_csv("raw_data/nls97.csv")

## Set index

In [45]:
df.set_index("personid", inplace = True)

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8984 entries, 100061 to 999963
Data columns (total 88 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   object
 1   birthmonth             8984 non-null   int64
 2   birthyear              8984 non-null   int64
 3   highestgradecompleted  6663 non-null   float64
 4   maritalstatus          6672 non-null   object
 5   childathome            4791 non-null   float64
 6   childnotathome         4791 non-null   float64
 7   wageincome             5091 non-null   float64
 8   weeklyhrscomputer      5792 non-null   object
 9   weeklyhrstv            6711 non-null   object
 10  nightlyhrssleep        6706 non-null   float64
 11  satverbal              1406 non-null   float64
 12  satmath                1407 non-null   float64
 13  gpaoverall             6004 non-null   float64
 14  gpaenglish             5798 non-null   float64
 15  gpamath                5766 non-null   float64
 16  gpascience             5684 non-null   float64
 17  highestdegree          8953 non-null   object
 18  govprovidejobs         1833 non-null   object
 19  govpricecontrols       1859 non-null   object
 20  govhealthcare          1874 non-null   object
 21  govelderliving         1872 non-null   object
 22  govindhelp             1815 non-null   object
 23  govunemp               1811 non-null   object
 24  govincomediff          1775 non-null   object
 25  govcollegefinance      1875 non-null   object
 26  govdecenthousing       1847 non-null   object
 27  govprotectenvironment  1860 non-null   object
 28  weeksworked00          8603 non-null   float64
 29  weeksworked01          8564 non-null   float64
 30  weeksworked02          8556 non-null   float64
 31  weeksworked03          8490 non-null   float64
 32  weeksworked04          8458 non-null   float64
 33  weeksworked05          8403 non-null   float64
 34  weeksworked06          8340 non-null   float64
 35  weeksworked07          8272 non-null   float64
 36  weeksworked08          8186 non-null   float64
 37  weeksworked09          8146 non-null   float64
 38  weeksworked10          8054 non-null   float64
 39  weeksworked11          7968 non-null   float64
 40  weeksworked12          7747 non-null   float64
 41  weeksworked13          7680 non-null   float64
 42  weeksworked14          7612 non-null   float64
 43  weeksworked15          7389 non-null   float64
 44  weeksworked16          7068 non-null   float64
 45  weeksworked17          6670 non-null   float64
 46  colenrfeb97            1250 non-null   object
 47  colenroct97            8501 non-null   object
 48  colenrfeb98            8501 non-null   object
 49  colenroct98            8888 non-null   object
 50  colenrfeb99            8865 non-null   object
 51  colenroct99            8851 non-null   object
 52  colenrfeb00            8820 non-null   object
 53  colenroct00            8805 non-null   object
 54  colenrfeb01            8786 non-null   object
 55  colenroct01            8758 non-null   object
 56  colenrfeb02            8732 non-null   object
 57  colenroct02            8698 non-null   object
 58  colenrfeb03            8658 non-null   object
 59  colenroct03            8622 non-null   object
 60  colenrfeb04            8578 non-null   object
 61  colenroct04            8546 non-null   object
 62  colenrfeb05            8508 non-null   object
 63  colenroct05            8471 non-null   object
 64  colenrfeb06            8426 non-null   object
 65  colenroct06            8407 non-null   object
 66  colenrfeb07            8352 non-null   object
 67  colenroct07            8331 non-null   object
 68  colenrfeb08            8289 non-null   object
 69  colenroct08            8280 non-null   object
 70  colenrfeb09            8236 non-null   object
 71  colenroct09            8193 non-null   object
 72  colenrfeb10            8116 non-null   object
 73  colenroct10            8091 non-null   object
 74  colenrfeb11            8037 non-null   object
 75  colenroct11            7972 non-null   object
 76  colenrfeb12            7794 non-null   object
 77  colenroct12            7754 non-null   object
 78  colenrfeb13            7754 non-null   object
 79  colenroct13            7754 non-null   object
 80  colenrfeb14            7624 non-null   object
 81  colenroct14            7469 non-null   object
 82  colenrfeb15            7469 non-null   object
 83  colenroct15            7469 non-null   object
 84  colenrfeb16            7036 non-null   object
 85  colenroct16            6733 non-null   object
 86  colenrfeb17            6733 non-null   object
 87  colenroct17            6734 non-null   object
dtypes: float64(29), int64(2), object(57)
memory usage: 6.1+ MB

## Convert datatype from Object to category

In [54]:
for col in df.select_dtypes(['object']).columns:
    df[col] = df[col].astype('category')

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8984 entries, 100061 to 999963
Data columns (total 88 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   category
 1   birthmonth             8984 non-null   int64
 2   birthyear              8984 non-null   int64
 3   highestgradecompleted  6663 non-null   float64
 4   maritalstatus          6672 non-null   category
 5   childathome            4791 non-null   float64
 6   childnotathome         4791 non-null   float64
 7   wageincome             5091 non-null   float64
 8   weeklyhrscomputer      5792 non-null   category
 9   weeklyhrstv            6711 non-null   category
 10  nightlyhrssleep        6706 non-null   float64
 11  satverbal              1406 non-null   float64
 12  satmath                1407 non-null   float64
 13  gpaoverall             6004 non-null   float64
 14  gpaenglish             5798 non-null   float64
 15  gpamath                5766 non-null   float64
 16  gpascience             5684 non-null   float64
 17  highestdegree          8953 non-null   category
 18  govprovidejobs         1833 non-null   category
 19  govpricecontrols       1859 non-null   category
 20  govhealthcare          1874 non-null   category
 21  govelderliving         1872 non-null   category
 22  govindhelp             1815 non-null   category
 23  govunemp               1811 non-null   category
 24  govincomediff          1775 non-null   category
 25  govcollegefinance      1875 non-null   category
 26  govdecenthousing       1847 non-null   category
 27  govprotectenvironment  1860 non-null   category
 28  weeksworked00          8603 non-null   float64
 29  weeksworked01          8564 non-null   float64
 30  weeksworked02          8556 non-null   float64
 31  weeksworked03          8490 non-null   float64
 32  weeksworked04          8458 non-null   float64
 33  weeksworked05          8403 non-null   float64
 34  weeksworked06          8340 non-null   float64
 35  weeksworked07          8272 non-null   float64
 36  weeksworked08          8186 non-null   float64
 37  weeksworked09          8146 non-null   float64
 38  weeksworked10          8054 non-null   float64
 39  weeksworked11          7968 non-null   float64
 40  weeksworked12          7747 non-null   float64
 41  weeksworked13          7680 non-null   float64
 42  weeksworked14          7612 non-null   float64
 43  weeksworked15          7389 non-null   float64
 44  weeksworked16          7068 non-null   float64
 45  weeksworked17          6670 non-null   float64
 46  colenrfeb97            1250 non-null   category
 47  colenroct97            8501 non-null   category
 48  colenrfeb98            8501 non-null   category
 49  colenroct98            8888 non-null   category
 50  colenrfeb99            8865 non-null   category
 51  colenroct99            8851 non-null   category
 52  colenrfeb00            8820 non-null   category
 53  colenroct00            8805 non-null   category
 54  colenrfeb01            8786 non-null   category
 55  colenroct01            8758 non-null   category
 56  colenrfeb02            8732 non-null   category
 57  colenroct02            8698 non-null   category
 58  colenrfeb03            8658 non-null   category
 59  colenroct03            8622 non-null   category
 60  colenrfeb04            8578 non-null   category
 61  colenroct04            8546 non-null   category
 62  colenrfeb05            8508 non-null   category
 63  colenroct05            8471 non-null   category
 64  colenrfeb06            8426 non-null   category
 65  colenroct06            8407 non-null   category
 66  colenrfeb07            8352 non-null   category
 67  colenroct07            8331 non-null   category
 68  colenrfeb08            8289 non-null   category
 69  colenroct08            8280 non-null   category
 70  colenrfeb09            8236 non-null   category
 71  colenroct09            8193 non-null   category
 72  colenrfeb10            8116 non-null   category
 73  colenroct10            8091 non-null   category
 74  colenrfeb11            8037 non-null   category
 75  colenroct11            7972 non-null   category
 76  colenrfeb12            7794 non-null   category
 77  colenroct12            7754 non-null   category
 78  colenrfeb13            7754 non-null   category
 79  colenroct13            7754 non-null   category
 80  colenrfeb14            7624 non-null   category
 81  colenroct14            7469 non-null   category
 82  colenrfeb15            7469 non-null   category
 83  colenroct15            7469 non-null   category
 84  colenrfeb16            7036 non-null   category
 85  colenroct16            6733 non-null   category
 86  colenrfeb17            6733 non-null   category
 87  colenroct17            6734 non-null   category
dtypes: category(57), float64(29), int64(2)
memory usage: 2.7 MB

## Display the columns with datatype as category

In [61]:
cat_cols = df.select_dtypes(include = ["category"]).columns

In [63]:
df[cat_cols].isnull().sum()

gender                      0
maritalstatus            2312
weeklyhrscomputer        3192
weeklyhrstv              2273
highestdegree              31
govprovidejobs           7151
govpricecontrols         7125
govhealthcare            7110
govelderliving           7112
govindhelp               7169
govunemp                 7173
govincomediff            7209
govcollegefinance        7109
govdecenthousing         7137
govprotectenvironment    7124
colenrfeb97              7734
colenroct97               483
colenrfeb98               483
colenroct98                96
colenrfeb99               119
colenroct99               133
colenrfeb00               164
colenroct00               179
colenrfeb01               198
colenroct01               226
colenrfeb02               252
colenroct02               286
colenrfeb03               326
colenroct03               362
colenrfeb04               406
colenroct04               438
colenrfeb05               476
colenroct05               513
colenrfeb06               558
colenroct06               577
colenrfeb07               632
colenroct07               653
colenrfeb08               695
colenroct08               704
colenrfeb09               748
colenroct09               791
colenrfeb10               868
colenroct10               893
colenrfeb11               947
colenroct11              1012
colenrfeb12              1190
colenroct12              1230
colenrfeb13              1230
colenroct13              1230
colenrfeb14              1360
colenroct14              1515
colenrfeb15              1515
colenroct15              1515
colenrfeb16              1948
colenroct16              2251
colenrfeb17              2251
colenroct17              2250
dtype: int64

## Show the frequencies for marital status column

In [66]:
df.maritalstatus.value_counts()

maritalstatus
Married          3066
Never-married    2766
Divorced          663
Separated         154
Widowed            23
Name: count, dtype: int64

## Show the percentages instead of counts

In [68]:
df.maritalstatus.value_counts(normalize = True, sort = False)

maritalstatus
Divorced         0.099371
Married          0.459532
Never-married    0.414568
Separated        0.023082
Widowed          0.003447
Name: proportion, dtype: float64

## Show the percentages of all government responsibility columns

In [72]:
df.filter(like = "gov").apply(pd.value_counts, normalize = True)

/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1561049346.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df.filter(like = "gov").apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1561049346.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df.filter(like = "gov").apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1561049346.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df.filter(like = "gov").apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1561049346.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df.filter(like = "gov").apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1561049346.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df.filter(like = "gov").apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1561049346.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df.filter(like = "gov").apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1561049346.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df.filter(like = "gov").apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1561049346.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df.filter(like = "gov").apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1561049346.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df.filter(like = "gov").apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1561049346.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df.filter(like = "gov").apply(pd.value_counts, normalize = True)

,govprovidejobs,govpricecontrols,govhealthcare,govelderliving,govindhelp,govunemp,govincomediff,govcollegefinance,govdecenthousing,govprotectenvironment
1. Definitely,0.247681,0.541689,0.665422,0.700321,0.428650,0.218112,0.324507,0.734400,0.442339,0.668817
2. Probably,0.336607,0.334051,0.271078,0.247863,0.411019,0.403092,0.284507,0.230400,0.433676,0.286559
3. Probably not,0.252046,0.086606,0.045358,0.037927,0.119008,0.262838,0.228732,0.026667,0.100162,0.029570
4. Definitely not,0.163666,0.037655,0.018143,0.013889,0.041322,0.115958,0.162254,0.008533,0.023822,0.015054

## Find percentages for all government responsibility columns of people who are married

In [79]:
df[df.maritalstatus == 'Married'].filter(like = 'gov').apply(pd.value_counts, normalize = True)

/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1912141242.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df[df.maritalstatus == 'Married'].filter(like = 'gov').apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1912141242.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df[df.maritalstatus == 'Married'].filter(like = 'gov').apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1912141242.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df[df.maritalstatus == 'Married'].filter(like = 'gov').apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1912141242.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df[df.maritalstatus == 'Married'].filter(like = 'gov').apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1912141242.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df[df.maritalstatus == 'Married'].filter(like = 'gov').apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1912141242.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df[df.maritalstatus == 'Married'].filter(like = 'gov').apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1912141242.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df[df.maritalstatus == 'Married'].filter(like = 'gov').apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1912141242.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df[df.maritalstatus == 'Married'].filter(like = 'gov').apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1912141242.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df[df.maritalstatus == 'Married'].filter(like = 'gov').apply(pd.value_counts, normalize = True)
/var/folders/ns/2_tv7tds1cd8rv7flp1l_2b80000gp/T/ipykernel_28409/1912141242.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  df[df.maritalstatus == 'Married'].filter(like = 'gov').apply(pd.value_counts, normalize = True)

,govprovidejobs,govpricecontrols,govhealthcare,govelderliving,govindhelp,govunemp,govincomediff,govcollegefinance,govdecenthousing,govprotectenvironment
1. Definitely,0.173315,0.459864,0.564450,0.632293,0.372549,0.147265,0.258890,0.695418,0.356354,0.644505
2. Probably,0.328748,0.380952,0.359566,0.310719,0.445378,0.395512,0.273115,0.261456,0.493094,0.313433
3. Probably not,0.314993,0.112925,0.051560,0.037992,0.142857,0.328191,0.284495,0.033693,0.120166,0.028494
4. Definitely not,0.182944,0.046259,0.024423,0.018996,0.039216,0.129032,0.183499,0.009434,0.030387,0.013569

## Find the frequencies and percentages for all category columns in the dataframe

In [85]:
freq_out = open('views/frequencies.txt', 'w')

for col in df.select_dtypes(include = ['category']):
    print (col, "---------------", 
           "frequencies",df[col].value_counts(sort= False), 
           "percentages", 
           df[col].value_counts(normalize = True, sort = False),
           sep = "\n\n",
           end = "\n\n\n",
           file = freq_out)

freq_out.close()