## Import libraries

In [4]:
import pandas as pd
import numpy as np

## Read the csv data

In [6]:
df = pd.read_csv("raw_data/nls97.csv")

## Check the index

In [10]:
df.index

RangeIndex(start=0, stop=8984, step=1)

## Check the dataframe

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8984 entries, 0 to 8983
Data columns (total 89 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   personid               8984 non-null   int64
 1   gender                 8984 non-null   object
 2   birthmonth             8984 non-null   int64
 3   birthyear              8984 non-null   int64
 4   highestgradecompleted  6663 non-null   float64
 5   maritalstatus          6672 non-null   object
 6   childathome            4791 non-null   float64
 7   childnotathome         4791 non-null   float64
 8   wageincome             5091 non-null   float64
 9   weeklyhrscomputer      5792 non-null   object
 10  weeklyhrstv            6711 non-null   object
 11  nightlyhrssleep        6706 non-null   float64
 12  satverbal              1406 non-null   float64
 13  satmath                1407 non-null   float64
 14  gpaoverall             6004 non-null   float64
 15  gpaenglish             5798 non-null   float64
 16  gpamath                5766 non-null   float64
 17  gpascience             5684 non-null   float64
 18  highestdegree          8953 non-null   object
 19  govprovidejobs         1833 non-null   object
 20  govpricecontrols       1859 non-null   object
 21  govhealthcare          1874 non-null   object
 22  govelderliving         1872 non-null   object
 23  govindhelp             1815 non-null   object
 24  govunemp               1811 non-null   object
 25  govincomediff          1775 non-null   object
 26  govcollegefinance      1875 non-null   object
 27  govdecenthousing       1847 non-null   object
 28  govprotectenvironment  1860 non-null   object
 29  weeksworked00          8603 non-null   float64
 30  weeksworked01          8564 non-null   float64
 31  weeksworked02          8556 non-null   float64
 32  weeksworked03          8490 non-null   float64
 33  weeksworked04          8458 non-null   float64
 34  weeksworked05          8403 non-null   float64
 35  weeksworked06          8340 non-null   float64
 36  weeksworked07          8272 non-null   float64
 37  weeksworked08          8186 non-null   float64
 38  weeksworked09          8146 non-null   float64
 39  weeksworked10          8054 non-null   float64
 40  weeksworked11          7968 non-null   float64
 41  weeksworked12          7747 non-null   float64
 42  weeksworked13          7680 non-null   float64
 43  weeksworked14          7612 non-null   float64
 44  weeksworked15          7389 non-null   float64
 45  weeksworked16          7068 non-null   float64
 46  weeksworked17          6670 non-null   float64
 47  colenrfeb97            1250 non-null   object
 48  colenroct97            8501 non-null   object
 49  colenrfeb98            8501 non-null   object
 50  colenroct98            8888 non-null   object
 51  colenrfeb99            8865 non-null   object
 52  colenroct99            8851 non-null   object
 53  colenrfeb00            8820 non-null   object
 54  colenroct00            8805 non-null   object
 55  colenrfeb01            8786 non-null   object
 56  colenroct01            8758 non-null   object
 57  colenrfeb02            8732 non-null   object
 58  colenroct02            8698 non-null   object
 59  colenrfeb03            8658 non-null   object
 60  colenroct03            8622 non-null   object
 61  colenrfeb04            8578 non-null   object
 62  colenroct04            8546 non-null   object
 63  colenrfeb05            8508 non-null   object
 64  colenroct05            8471 non-null   object
 65  colenrfeb06            8426 non-null   object
 66  colenroct06            8407 non-null   object
 67  colenrfeb07            8352 non-null   object
 68  colenroct07            8331 non-null   object
 69  colenrfeb08            8289 non-null   object
 70  colenroct08            8280 non-null   object
 71  colenrfeb09            8236 non-null   object
 72  colenroct09            8193 non-null   object
 73  colenrfeb10            8116 non-null   object
 74  colenroct10            8091 non-null   object
 75  colenrfeb11            8037 non-null   object
 76  colenroct11            7972 non-null   object
 77  colenrfeb12            7794 non-null   object
 78  colenroct12            7754 non-null   object
 79  colenrfeb13            7754 non-null   object
 80  colenroct13            7754 non-null   object
 81  colenrfeb14            7624 non-null   object
 82  colenroct14            7469 non-null   object
 83  colenrfeb15            7469 non-null   object
 84  colenroct15            7469 non-null   object
 85  colenrfeb16            7036 non-null   object
 86  colenroct16            6733 non-null   object
 87  colenrfeb17            6733 non-null   object
 88  colenroct17            6734 non-null   object
dtypes: float64(29), int64(3), object(57)
memory usage: 6.1+ MB

## Set the personid column as index

In [20]:
df.set_index("personid", inplace = True)

In [22]:
df.index

Index([100061, 100139, 100284, 100292, 100583, 100833, 100931, 101089, 101122,
       101132,
       ...
       998997, 999031, 999053, 999087, 999103, 999291, 999406, 999543, 999698,
       999963],
      dtype='int64', name='personid', length=8984)

## Convert all columns with "object" datatype to "category"

df.select_dtypes(include = ['object']) = df.select_dtypes(['object']).apply(lambda x: x.astype("category"))

In [25]:
for col in df.select_dtypes(['object']).columns:
    df[col] = df[col].astype("category")

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8984 entries, 100061 to 999963
Data columns (total 88 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   category
 1   birthmonth             8984 non-null   int64
 2   birthyear              8984 non-null   int64
 3   highestgradecompleted  6663 non-null   float64
 4   maritalstatus          6672 non-null   category
 5   childathome            4791 non-null   float64
 6   childnotathome         4791 non-null   float64
 7   wageincome             5091 non-null   float64
 8   weeklyhrscomputer      5792 non-null   category
 9   weeklyhrstv            6711 non-null   category
 10  nightlyhrssleep        6706 non-null   float64
 11  satverbal              1406 non-null   float64
 12  satmath                1407 non-null   float64
 13  gpaoverall             6004 non-null   float64
 14  gpaenglish             5798 non-null   float64
 15  gpamath                5766 non-null   float64
 16  gpascience             5684 non-null   float64
 17  highestdegree          8953 non-null   category
 18  govprovidejobs         1833 non-null   category
 19  govpricecontrols       1859 non-null   category
 20  govhealthcare          1874 non-null   category
 21  govelderliving         1872 non-null   category
 22  govindhelp             1815 non-null   category
 23  govunemp               1811 non-null   category
 24  govincomediff          1775 non-null   category
 25  govcollegefinance      1875 non-null   category
 26  govdecenthousing       1847 non-null   category
 27  govprotectenvironment  1860 non-null   category
 28  weeksworked00          8603 non-null   float64
 29  weeksworked01          8564 non-null   float64
 30  weeksworked02          8556 non-null   float64
 31  weeksworked03          8490 non-null   float64
 32  weeksworked04          8458 non-null   float64
 33  weeksworked05          8403 non-null   float64
 34  weeksworked06          8340 non-null   float64
 35  weeksworked07          8272 non-null   float64
 36  weeksworked08          8186 non-null   float64
 37  weeksworked09          8146 non-null   float64
 38  weeksworked10          8054 non-null   float64
 39  weeksworked11          7968 non-null   float64
 40  weeksworked12          7747 non-null   float64
 41  weeksworked13          7680 non-null   float64
 42  weeksworked14          7612 non-null   float64
 43  weeksworked15          7389 non-null   float64
 44  weeksworked16          7068 non-null   float64
 45  weeksworked17          6670 non-null   float64
 46  colenrfeb97            1250 non-null   category
 47  colenroct97            8501 non-null   category
 48  colenrfeb98            8501 non-null   category
 49  colenroct98            8888 non-null   category
 50  colenrfeb99            8865 non-null   category
 51  colenroct99            8851 non-null   category
 52  colenrfeb00            8820 non-null   category
 53  colenroct00            8805 non-null   category
 54  colenrfeb01            8786 non-null   category
 55  colenroct01            8758 non-null   category
 56  colenrfeb02            8732 non-null   category
 57  colenroct02            8698 non-null   category
 58  colenrfeb03            8658 non-null   category
 59  colenroct03            8622 non-null   category
 60  colenrfeb04            8578 non-null   category
 61  colenroct04            8546 non-null   category
 62  colenrfeb05            8508 non-null   category
 63  colenroct05            8471 non-null   category
 64  colenrfeb06            8426 non-null   category
 65  colenroct06            8407 non-null   category
 66  colenrfeb07            8352 non-null   category
 67  colenroct07            8331 non-null   category
 68  colenrfeb08            8289 non-null   category
 69  colenroct08            8280 non-null   category
 70  colenrfeb09            8236 non-null   category
 71  colenroct09            8193 non-null   category
 72  colenrfeb10            8116 non-null   category
 73  colenroct10            8091 non-null   category
 74  colenrfeb11            8037 non-null   category
 75  colenroct11            7972 non-null   category
 76  colenrfeb12            7794 non-null   category
 77  colenroct12            7754 non-null   category
 78  colenrfeb13            7754 non-null   category
 79  colenroct13            7754 non-null   category
 80  colenrfeb14            7624 non-null   category
 81  colenroct14            7469 non-null   category
 82  colenrfeb15            7469 non-null   category
 83  colenroct15            7469 non-null   category
 84  colenrfeb16            7036 non-null   category
 85  colenroct16            6733 non-null   category
 86  colenrfeb17            6733 non-null   category
 87  colenroct17            6734 non-null   category
dtypes: category(57), float64(29), int64(2)
memory usage: 2.7 MB

#### See a significant decrease in memory

Why?

1️⃣ category Stores Unique Values as Codes (Instead of Full Strings)
	•	object dtype stores each string separately in memory.
	•	category replaces repeated values with integer codes, reducing storage.

## Select a column using []

In [37]:
gender_data = df['gender']

In [39]:
type(gender_data)

pandas.core.series.Series

A Pandas Series is a one-dimensional labeled array in Python that can hold any type of data (integers, floats, strings, objects, etc.).
It is similar to a column in a DataFrame or a list with an index.

### Get the column data as a dataframe

In [48]:
gender_data_as_df = df[['gender']]

In [50]:
type(gender_data_as_df)

pandas.core.frame.DataFrame

## Select column using "loc"

In [52]:
gender_data_with_loc = df.loc[:,['gender']]

In [54]:
type(gender_data_with_loc)

pandas.core.frame.DataFrame

In [56]:
df.columns

Index(['gender', 'birthmonth', 'birthyear', 'highestgradecompleted',
       'maritalstatus', 'childathome', 'childnotathome', 'wageincome',
       'weeklyhrscomputer', 'weeklyhrstv', 'nightlyhrssleep', 'satverbal',
       'satmath', 'gpaoverall', 'gpaenglish', 'gpamath', 'gpascience',
       'highestdegree', 'govprovidejobs', 'govpricecontrols', 'govhealthcare',
       'govelderliving', 'govindhelp', 'govunemp', 'govincomediff',
       'govcollegefinance', 'govdecenthousing', 'govprotectenvironment',
       'weeksworked00', 'weeksworked01', 'weeksworked02', 'weeksworked03',
       'weeksworked04', 'weeksworked05', 'weeksworked06', 'weeksworked07',
       'weeksworked08', 'weeksworked09', 'weeksworked10', 'weeksworked11',
       'weeksworked12', 'weeksworked13', 'weeksworked14', 'weeksworked15',
       'weeksworked16', 'weeksworked17', 'colenrfeb97', 'colenroct97',
       'colenrfeb98', 'colenroct98', 'colenrfeb99', 'colenroct99',
       'colenrfeb00', 'colenroct00', 'colenrfeb01', 'colenroct01',
       'colenrfeb02', 'colenroct02', 'colenrfeb03', 'colenroct03',
       'colenrfeb04', 'colenroct04', 'colenrfeb05', 'colenroct05',
       'colenrfeb06', 'colenroct06', 'colenrfeb07', 'colenroct07',
       'colenrfeb08', 'colenroct08', 'colenrfeb09', 'colenroct09',
       'colenrfeb10', 'colenroct10', 'colenrfeb11', 'colenroct11',
       'colenrfeb12', 'colenroct12', 'colenrfeb13', 'colenroct13',
       'colenrfeb14', 'colenroct14', 'colenrfeb15', 'colenroct15',
       'colenrfeb16', 'colenroct16', 'colenrfeb17', 'colenroct17'],
      dtype='object')

## Select column using "iloc"

In [59]:
gender_data_with_iloc = df.iloc[:,[0]]

In [61]:
type(gender_data_with_iloc)

pandas.core.frame.DataFrame

## Select multiple columns from dataframe using []

In [64]:
df_gen_ms_hg = df[['gender', 'maritalstatus','highestgradecompleted']]

In [66]:
df_gen_ms_hg.shape

(8984, 3)

## Select multiple columns from dataframe using "loc"

In [69]:
df_gen_ms_hg_with_loc = df.loc[:,['gender', 'maritalstatus','highestgradecompleted']]

In [71]:
type(df_gen_ms_hg_with_loc)

pandas.core.frame.DataFrame

In [73]:
df_gen_ms_hg_with_loc.head(2)

          gender maritalstatus  highestgradecompleted
personid
100061    Female       Married                   13.0
100139      Male       Married                   12.0

## Select multiple columns based on a list of columns

In [76]:
req_cols = ['gender', 'maritalstatus', 'highestgradecompleted', 'wageincome',\
            'gpaoverall', 'weeksworked17']

df_req = df[req_cols]

In [78]:
df_req.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8984 entries, 100061 to 999963
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   category
 1   maritalstatus          6672 non-null   category
 2   highestgradecompleted  6663 non-null   float64
 3   wageincome             5091 non-null   float64
 4   gpaoverall             6004 non-null   float64
 5   weeksworked17          6670 non-null   float64
dtypes: category(2), float64(4)
memory usage: 368.8 KB

## Select columns by using "filter"

In [81]:
df.columns

Index(['gender', 'birthmonth', 'birthyear', 'highestgradecompleted',
       'maritalstatus', 'childathome', 'childnotathome', 'wageincome',
       'weeklyhrscomputer', 'weeklyhrstv', 'nightlyhrssleep', 'satverbal',
       'satmath', 'gpaoverall', 'gpaenglish', 'gpamath', 'gpascience',
       'highestdegree', 'govprovidejobs', 'govpricecontrols', 'govhealthcare',
       'govelderliving', 'govindhelp', 'govunemp', 'govincomediff',
       'govcollegefinance', 'govdecenthousing', 'govprotectenvironment',
       'weeksworked00', 'weeksworked01', 'weeksworked02', 'weeksworked03',
       'weeksworked04', 'weeksworked05', 'weeksworked06', 'weeksworked07',
       'weeksworked08', 'weeksworked09', 'weeksworked10', 'weeksworked11',
       'weeksworked12', 'weeksworked13', 'weeksworked14', 'weeksworked15',
       'weeksworked16', 'weeksworked17', 'colenrfeb97', 'colenroct97',
       'colenrfeb98', 'colenroct98', 'colenrfeb99', 'colenroct99',
       'colenrfeb00', 'colenroct00', 'colenrfeb01', 'colenroct01',
       'colenrfeb02', 'colenroct02', 'colenrfeb03', 'colenroct03',
       'colenrfeb04', 'colenroct04', 'colenrfeb05', 'colenroct05',
       'colenrfeb06', 'colenroct06', 'colenrfeb07', 'colenroct07',
       'colenrfeb08', 'colenroct08', 'colenrfeb09', 'colenroct09',
       'colenrfeb10', 'colenroct10', 'colenrfeb11', 'colenroct11',
       'colenrfeb12', 'colenroct12', 'colenrfeb13', 'colenroct13',
       'colenrfeb14', 'colenroct14', 'colenrfeb15', 'colenroct15',
       'colenrfeb16', 'colenroct16', 'colenrfeb17', 'colenroct17'],
      dtype='object')

In [83]:
work_df = df.filter(like="weeksworked")

In [85]:
work_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8984 entries, 100061 to 999963
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   weeksworked00  8603 non-null   float64
 1   weeksworked01  8564 non-null   float64
 2   weeksworked02  8556 non-null   float64
 3   weeksworked03  8490 non-null   float64
 4   weeksworked04  8458 non-null   float64
 5   weeksworked05  8403 non-null   float64
 6   weeksworked06  8340 non-null   float64
 7   weeksworked07  8272 non-null   float64
 8   weeksworked08  8186 non-null   float64
 9   weeksworked09  8146 non-null   float64
 10  weeksworked10  8054 non-null   float64
 11  weeksworked11  7968 non-null   float64
 12  weeksworked12  7747 non-null   float64
 13  weeksworked13  7680 non-null   float64
 14  weeksworked14  7612 non-null   float64
 15  weeksworked15  7389 non-null   float64
 16  weeksworked16  7068 non-null   float64
 17  weeksworked17  6670 non-null   float64
dtypes: float64(18)
memory usage: 1.3 MB

## Select columns based on "datatype"

In [88]:
#Select all category columns

df_category = df.select_dtypes(include = ["category"])

In [92]:
df_category.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8984 entries, 100061 to 999963
Data columns (total 57 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 8984 non-null   category
 1   maritalstatus          6672 non-null   category
 2   weeklyhrscomputer      5792 non-null   category
 3   weeklyhrstv            6711 non-null   category
 4   highestdegree          8953 non-null   category
 5   govprovidejobs         1833 non-null   category
 6   govpricecontrols       1859 non-null   category
 7   govhealthcare          1874 non-null   category
 8   govelderliving         1872 non-null   category
 9   govindhelp             1815 non-null   category
 10  govunemp               1811 non-null   category
 11  govincomediff          1775 non-null   category
 12  govcollegefinance      1875 non-null   category
 13  govdecenthousing       1847 non-null   category
 14  govprotectenvironment  1860 non-null   category
 15  colenrfeb97            1250 non-null   category
 16  colenroct97            8501 non-null   category
 17  colenrfeb98            8501 non-null   category
 18  colenroct98            8888 non-null   category
 19  colenrfeb99            8865 non-null   category
 20  colenroct99            8851 non-null   category
 21  colenrfeb00            8820 non-null   category
 22  colenroct00            8805 non-null   category
 23  colenrfeb01            8786 non-null   category
 24  colenroct01            8758 non-null   category
 25  colenrfeb02            8732 non-null   category
 26  colenroct02            8698 non-null   category
 27  colenrfeb03            8658 non-null   category
 28  colenroct03            8622 non-null   category
 29  colenrfeb04            8578 non-null   category
 30  colenroct04            8546 non-null   category
 31  colenrfeb05            8508 non-null   category
 32  colenroct05            8471 non-null   category
 33  colenrfeb06            8426 non-null   category
 34  colenroct06            8407 non-null   category
 35  colenrfeb07            8352 non-null   category
 36  colenroct07            8331 non-null   category
 37  colenrfeb08            8289 non-null   category
 38  colenroct08            8280 non-null   category
 39  colenrfeb09            8236 non-null   category
 40  colenroct09            8193 non-null   category
 41  colenrfeb10            8116 non-null   category
 42  colenroct10            8091 non-null   category
 43  colenrfeb11            8037 non-null   category
 44  colenroct11            7972 non-null   category
 45  colenrfeb12            7794 non-null   category
 46  colenroct12            7754 non-null   category
 47  colenrfeb13            7754 non-null   category
 48  colenroct13            7754 non-null   category
 49  colenrfeb14            7624 non-null   category
 50  colenroct14            7469 non-null   category
 51  colenrfeb15            7469 non-null   category
 52  colenroct15            7469 non-null   category
 53  colenrfeb16            7036 non-null   category
 54  colenroct16            6733 non-null   category
 55  colenrfeb17            6733 non-null   category
 56  colenroct17            6734 non-null   category
dtypes: category(57)
memory usage: 580.8 KB

In [94]:
# Select all numeric columns

df_numeric = df.select_dtypes(include = ["number"])

In [96]:
df_numeric.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8984 entries, 100061 to 999963
Data columns (total 31 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   birthmonth             8984 non-null   int64
 1   birthyear              8984 non-null   int64
 2   highestgradecompleted  6663 non-null   float64
 3   childathome            4791 non-null   float64
 4   childnotathome         4791 non-null   float64
 5   wageincome             5091 non-null   float64
 6   nightlyhrssleep        6706 non-null   float64
 7   satverbal              1406 non-null   float64
 8   satmath                1407 non-null   float64
 9   gpaoverall             6004 non-null   float64
 10  gpaenglish             5798 non-null   float64
 11  gpamath                5766 non-null   float64
 12  gpascience             5684 non-null   float64
 13  weeksworked00          8603 non-null   float64
 14  weeksworked01          8564 non-null   float64
 15  weeksworked02          8556 non-null   float64
 16  weeksworked03          8490 non-null   float64
 17  weeksworked04          8458 non-null   float64
 18  weeksworked05          8403 non-null   float64
 19  weeksworked06          8340 non-null   float64
 20  weeksworked07          8272 non-null   float64
 21  weeksworked08          8186 non-null   float64
 22  weeksworked09          8146 non-null   float64
 23  weeksworked10          8054 non-null   float64
 24  weeksworked11          7968 non-null   float64
 25  weeksworked12          7747 non-null   float64
 26  weeksworked13          7680 non-null   float64
 27  weeksworked14          7612 non-null   float64
 28  weeksworked15          7389 non-null   float64
 29  weeksworked16          7068 non-null   float64
 30  weeksworked17          6670 non-null   float64
dtypes: float64(29), int64(2)
memory usage: 2.2 MB

## Select columns using regex pattern

In [99]:
df.columns

Index(['gender', 'birthmonth', 'birthyear', 'highestgradecompleted',
       'maritalstatus', 'childathome', 'childnotathome', 'wageincome',
       'weeklyhrscomputer', 'weeklyhrstv', 'nightlyhrssleep', 'satverbal',
       'satmath', 'gpaoverall', 'gpaenglish', 'gpamath', 'gpascience',
       'highestdegree', 'govprovidejobs', 'govpricecontrols', 'govhealthcare',
       'govelderliving', 'govindhelp', 'govunemp', 'govincomediff',
       'govcollegefinance', 'govdecenthousing', 'govprotectenvironment',
       'weeksworked00', 'weeksworked01', 'weeksworked02', 'weeksworked03',
       'weeksworked04', 'weeksworked05', 'weeksworked06', 'weeksworked07',
       'weeksworked08', 'weeksworked09', 'weeksworked10', 'weeksworked11',
       'weeksworked12', 'weeksworked13', 'weeksworked14', 'weeksworked15',
       'weeksworked16', 'weeksworked17', 'colenrfeb97', 'colenroct97',
       'colenrfeb98', 'colenroct98', 'colenrfeb99', 'colenroct99',
       'colenrfeb00', 'colenroct00', 'colenrfeb01', 'colenroct01',
       'colenrfeb02', 'colenroct02', 'colenrfeb03', 'colenroct03',
       'colenrfeb04', 'colenroct04', 'colenrfeb05', 'colenroct05',
       'colenrfeb06', 'colenroct06', 'colenrfeb07', 'colenroct07',
       'colenrfeb08', 'colenroct08', 'colenrfeb09', 'colenroct09',
       'colenrfeb10', 'colenroct10', 'colenrfeb11', 'colenroct11',
       'colenrfeb12', 'colenroct12', 'colenrfeb13', 'colenroct13',
       'colenrfeb14', 'colenroct14', 'colenrfeb15', 'colenroct15',
       'colenrfeb16', 'colenroct16', 'colenrfeb17', 'colenroct17'],
      dtype='object')

In [101]:
df_income = df.filter(regex = "income")

In [103]:
df_income.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8984 entries, 100061 to 999963
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   wageincome     5091 non-null   float64
 1   govincomediff  1775 non-null   category
dtypes: category(1), float64(1)
memory usage: 149.3 KB